@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  padding-top: 60px;
}

body {
  background: url('./bg.png');
}
.main {
  width: 480px;
  margin: 0 auto;
}
.btn {
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  border: none;
  background: navajowhite;
}
button:hover {
  cursor: pointer;
}